In [7]:
"""
타이타닉 생존자 예측 프로젝트(오하림)

1. 데이터셋 불러오기
2. feature 분석


발표 자료 필수 항목

프로젝트 요구사항 체크리스트
1
참고코드를 동작시키고 결과를 확인했는가? o
2-1
참고코드를 동작시키고 결과를 확인했는가? o
2-2
참고코드를 동작시키고 결과를 확인했는가? o
2-3
count, std, min, 25%, 50%, 70%, max 에 대해서 모두 틀린부분 없이 설명했는가?  o
2-4
참고코드를 동작시키고 결과를 확인했는가? o

팀 구성 및 역할
오하림 - 1. 데이터셋 불러오기, 2. feature 분석
전상우 - 3. feature engineering
김동찬 - Logistic
조현민 - random forest
강의찬 - XGboost

트러블슈팅
github 사용 하는 것에 대해 어려움이 있었다.
레포를 새로 만들어서 해결.

자체 평가 의견
참고 없이 과제를 풀어보려했다. 해결방법을 구상하고 코드 작성해 나가는 것에 대한 능력이 향상되었음. 
"""

'\n타이타닉 생존자 예측 프로잭트(오하림)\n\n1. 데이터셋 불러오기\n2. feature 분석\n\n\n발표 자료 필수 항목\n\n프로젝트 요구사항 체크리스트\n1\n참고코드를 동작시키고 결과를 확인했는가? o\n2-1\n참고코드를 동작시키고 결과를 확인했는가? o\n2-2\n참고코드를 동작시키고 결과를 확인했는가? o\n2-3\ncount, std, min, 25%, 50%, 70%, max 에 대해서 모두 틀린부분 없이 설명했는가?  o\n2-4\n참고코드를 동작시키고 결과를 확인했는가? o\n\n팀 구성 및 역할\n오하림 - 1. 데이터셋 불러오기, 2. feature 분석\n전상우 - 3. feature engineering\n김동찬 - Logistic\n조현민 - random forest\n강의찬 - XGboost\n\n트러블슈팅\ngithub 사용 하는 것에 대해 어려움이 있었다.\n레포를 새로 만들어서 해결.\n\n자체 평가 의견\n참고 없이 과제를 풀어보려했다. 해결방법을 구상하고 코드 작성해 나가는 것에 대한 능력이 향상되었음. \n'

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [16]:
def load_and_analyze_data():
    """
    1. 데이터셋 불러오기
    """
    print('===1. 데이터셋 불러오기 ====')
    # 데이터셋 불러오기
    print('\n1.1 데이터셋 불러오기')
    titanic = sns.load_dataset('titanic')
    print(titanic)

    """
    2. feature 분석
    """
    print("\n===2. feature 분석 ===")
    
    # 2.1 데이터 기본 정보
    print("\n2.1 데이터 기본 정보")
    print(titanic.head())
  
    # 2.2 데이터 통계
    print("\n2.2 데이터 통계")
    print(titanic.describe())
    
    # 2.3 데이터 통계 분석
    print("\n2.3 데이터 통계 분석")
    print("count는 데이터의 총 개수입니다. 결측값없이 데이터가 존재함을 보여줍니다.")
    print("mean는 평균값입니다. 데이터의 중심경향을 보여줍니다.")
    print("std는 표준편차입니다. 데이터 값들의 흩어짐 정도를 보여줍니다.")
    print("min는 최솟값입니다. 데이터 중 가장 작은 값을 보여줍니다.")
    print("25%는 1사분위수입니다. 데이터의 하위 25%에 해당하는 값을 보여줍니다.")
    print("50%는 중위수입니다. 데이터 중앙에 해당하는 값을 보여줍니다.")
    print("75%는 3분위수입니다. 데이터 상위25%를 제외한 값을 보여줍니다.")    
    print("max는 최대값입니다. 데이터중 가장 큰 값을 보여줍니다.")

     # 2.4 결측치 개수 확인
    print("\n2.4 결측치 개수")
    print(titanic.isnull().sum())
    
    return titanic

if __name__ == "__main__":
    titanic = load_and_analyze_data()

===1. 데이터셋 불러오기 ====

1.1 데이터셋 불러오기
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

===2. feature 분석 ===

2.1 데이터 기본 정보
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

2.2 데이터 통계
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

2.3 데이터 통계 분석
count는 데이터의 총 개수입니다. 결측값없이 데이터가 존재함을 보여줍니다.
mean는 평균값입니다. 데이터의 중심경향을 보여줍니다.
std는 표준편차입니다. 데이터 값들의 흩어짐 정도를 보여줍니다.
min는 최솟값입니다. 데이터 중 가장 작은 값을 보여줍니다.
25%는 1사분위수입니다. 데이터의 하위 25%에 해당하는 값을 보여줍니다.
50%는 중위수입니다. 데이터 중앙에 해당하는 값을 보여줍니다.
75%는 3분위수입니다. 데이터 상위25%를 제외한 값을 보여줍니다.
max는 최대값입니다. 데이터중 가장 큰 값을 보여줍니다.

2.4 결측치 개수
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64